* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 2em;
  background-color: white;
  /* padding: 2em; */
}
